# TG_TEST - интеграция с Telegram
integration.vadminaev.ru {
    reverse_proxy app:3000
    encode gzip
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

# Сайт-визитка (Next.js)
vadminaev.ru {
    reverse_proxy vadim-minaev-systems-analyst-app-1:3000
    encode gzip
}

# Postman Runner
postmanrunner.vadminaev.ru {
    reverse_proxy postman-runner-app:3000
    encode gzip
}

# Balls - статический сайт
balls.vadminaev.ru {
    root * /srv/balls
    file_server
    encode gzip
}
